<div class="page-layout">
    <div class="card-container">
        <!-- Utilize optimized images Angular -->
        <!-- Consider accessibility with these click handlers. Might need to use a button -->
        @for (preview of previews; track $index) {
            <div
                [@rotationAnimation]="
                    animationStatePipe.transform($index, leftPreviewIndex(), currentPreviewIndex(), rightPreviewIndex())
                "
                class="card"
                (click)="selectPreview($index)"
            >
                <div>{{ preview.name }}</div>
                <img [src]="preview.imagePath" />
            </div>
        }
    </div>
</div>
