@use "../../../styles/placeholders.scss";
@use "../../../styles/variables.scss";
@use "sass:color";

.page-layout {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // This radial gradient probably needs to stretch end-to-end but be limited by a max width/height
    background: radial-gradient(35% 35% at center center, rgba(variables.$color-accent, 0.35) 0%, transparent 100%);
}

.card-container {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 1rem;
    border: 0.125rem solid variables.$color-accent;
    padding: 3rem;
    background-color: color.scale($color: variables.$color-secondary, $lightness: -50%);
}

.left-demo {
    margin-right: -15rem;
    opacity: 20%;
    transform: scale(0.8);
}

.middle-demo {
    z-index: 1;
}

.right-demo {
    margin-left: -15rem;
    opacity: 20%;
    transform: scale(0.8);
}
