@use "../../../styles/placeholders.scss";
@use "../../../styles/variables.scss";

.page-layout {
    @extend %page-layout;
    flex-direction: row;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding: 1rem 0;
}

.link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    width: 25rem;
    font-size: 1.25rem;
    background-image: linear-gradient(to right, rgba(variables.$color-white, 0.125), transparent);
}

.link {
    width: 100%;
    padding: 1rem;
    transition: transform 500ms; // TRANSITION_FADE_OUT_DURATION_MS * 2
    user-select: none;

    &.selected-project {
        transform: translateX(3rem);
    }
}

.preview {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
