<div class="page-layout">
    <div class="card-container">
        <!-- Utilize optimized images Angular -->
        <!-- Consider accessibility with these click handlers. Might need to use a button -->
        <div class="card left-demo" (click)="selectLeftPreview()">
            <div>{{ previews[leftPreviewIndex()].name }}</div>
            <img [src]="previews[leftPreviewIndex()].imagePath" />
        </div>
        <div [@carouselAnimation]="currentPreviewIndex() % 2 === 0 ? 'open' : 'closed'" class="card middle-demo">
            <div>{{ previews[currentPreviewIndex()].name }}</div>
            <img [src]="previews[currentPreviewIndex()].imagePath" />
        </div>
        <div class="card right-demo" (click)="selectRightPreview()">
            <div>{{ previews[rightPreviewIndex()].name }}</div>
            <img [src]="previews[rightPreviewIndex()].imagePath" />
        </div>
    </div>
</div>
