@use "../../../styles/placeholders.scss";
@use "../../../styles/variables.scss";
@use "sass:color";

.page-layout {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(40% 40% at center center, rgba(variables.$color-accent, 0.4) 0%, transparent 100%);
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 1rem;
    border: 0.125rem solid variables.$color-accent;
    padding: 3rem;
    background-color: color.scale($color: variables.$color-secondary, $lightness: -50%);

    & > img {
        height: auto;
        width: auto;
    }
}
