@use "../../../styles/variables.scss";
@use "sass:color";

$page-spacing-desktop: 3rem;
$page-spacing-tablet: 2rem;
$page-spacing-mobile: 1rem;
$tablet-breakpoint: 80rem;
$mobile-breakpoint: 40rem;

// Research single class vs nested hierarchy and rearrange if needed

.page-layout {
    height: 100%;
    width: 100%;
    padding: $page-spacing-desktop;
    display: grid;
    gap: $page-spacing-desktop;
    align-items: center;
    grid-template-columns: minmax(0, auto) auto;
    grid-template-rows: minmax(0, auto) minmax(0, 1fr);
    grid-template-areas:
        "header header"
        "image description";

    @media (max-width: $tablet-breakpoint) {
        padding: $page-spacing-tablet;
        gap: $page-spacing-tablet;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: auto minmax(0, 1fr) auto;
        grid-template-areas:
            "header"
            "image"
            "description";
    }

    @media (max-width: $mobile-breakpoint) {
        padding: $page-spacing-mobile;
        gap: $page-spacing-mobile;
        grid-template-rows: auto auto minmax(0, 1fr);
        grid-template-areas:
            "header"
            "description"
            "image";
    }
}

.header {
    grid-area: header;
    display: grid;
    align-items: center;
    column-gap: 5rem;
    row-gap: 1rem;
    grid-template-columns: minmax(0, max-content) auto;
    grid-template-rows: minmax(0, auto) minmax(0, auto);
    grid-template-areas:
        "link empty"
        "name selector";

    @media (max-width: $tablet-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0, auto) minmax(0, auto) minmax(0, auto);
        grid-template-areas:
            "link"
            "name"
            "selector";
    }
}

// Try scrapping the grid idea and moving this on top of the image itself
.image-selector {
    grid-area: selector;
    display: flex;
    gap: 5rem;

    @media (max-width: $tablet-breakpoint) {
        justify-self: center;
    }
}

.image-selector-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: variables.$font-size-h5;
}

.name {
    grid-area: name;
    text-transform: capitalize;

    @media (max-width: $tablet-breakpoint) {
        text-align: center;
    }

    @media (max-width: $mobile-breakpoint) {
        font-size: variables.$font-size-h2;
    }
}

.image {
    height: auto;
    width: auto;
    grid-area: image;
    border-radius: 0.75rem;

    @media (max-width: $mobile-breakpoint) {
        align-self: flex-start;
    }
}

.description {
    grid-area: description;
    border: 0.125rem solid variables.$color-accent;
    border-radius: 0.75rem;
    background-color: variables.$color-secondary;
    font-size: variables.$font-size-h4;
    padding: $page-spacing-desktop;

    @media (max-width: $tablet-breakpoint) {
        padding: $page-spacing-tablet;
        font-size: variables.$font-size-h6;
    }

    @media (max-width: $mobile-breakpoint) {
        padding: $page-spacing-mobile;
        font-size: variables.$font-size-default;
    }
}

.back-link {
    grid-area: link;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: variables.$font-size-h6;

    &:hover {
        // figure out a better color for this
        color: variables.$color-accent;
    }
}

.back-icon {
    height: 2rem;
    width: 2rem;
}

.selector-icon {
    height: 3rem;
    width: 3rem;
}
