<div class="page-layout">
    <div class="header">
        <a class="back-link" routerLink=""><app-icon class="back-icon" icon="arrow-left"></app-icon>Back</a>
        <h1 class="name">{{ project.name }}</h1>
        <div class="image-selector">
            <button class="image-selector-button" (click)="displayPreviousImage()">
                <app-icon class="selector-icon" icon="chevron-circle-left"></app-icon>
                Previous Image
            </button>
            <button class="image-selector-button" (click)="displayNextImage()">
                Next Image
                <app-icon class="selector-icon" icon="chevron-circle-right"></app-icon>
            </button>
        </div>
    </div>
    @for (galleryImage of project.galleryImages; track $index) {
        @if ($index === currentImageIndex()) {
            <img
                class="image"
                [ngSrc]="galleryImage.path"
                [height]="galleryImage.height"
                [width]="galleryImage.width"
                priority
            />
        }
    }
    <p class="description">{{ project.description }}</p>
</div>

