@use "../../../styles/variables.scss";
@use "../../../styles/placeholders.scss";
@use "sass:color";

$page-spacing-desktop: 3rem;
$page-spacing-tablet: 2rem;
$page-spacing-mobile: 1rem;
$tablet-breakpoint: 80rem;
$mobile-breakpoint: 40rem;

.page-layout {
    height: 100%;
    width: 100%;
    padding: $page-spacing-desktop;
    display: grid;
    gap: $page-spacing-desktop;
    align-items: center;
    grid-template-columns: minmax(0, auto) auto;
    grid-template-rows: minmax(0, auto) minmax(0, 1fr);
    grid-template-areas:
        "header header"
        "image description";

    @media (max-width: $tablet-breakpoint) {
        padding: $page-spacing-tablet;
        gap: $page-spacing-tablet;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: auto minmax(0, 1fr) auto;
        grid-template-areas:
            "header"
            "image"
            "description";
    }

    @media (max-width: $mobile-breakpoint) {
        padding: $page-spacing-mobile;
        gap: $page-spacing-mobile;
        grid-template-rows: auto auto minmax(0, 1fr);
        grid-template-areas:
            "header"
            "description"
            "image";
    }
}

.header {
    display: flex;
    grid-area: header;
}

.name {
    text-transform: capitalize;

    @media (max-width: $tablet-breakpoint) {
        text-align: center;
    }

    @media (max-width: $mobile-breakpoint) {
        font-size: variables.$font-size-h2;
    }
}

.image {
    height: auto;
    width: auto;
    grid-area: image;

    @media (max-width: $mobile-breakpoint) {
        align-self: flex-start;
    }
}

.description {
    grid-area: description;
    //figure out card colors
    border: 0.125rem solid variables.$color-primary;
    background-color: variables.$color-secondary;
    font-size: variables.$font-size-h4;

    @media (max-width: $tablet-breakpoint) {
        font-size: variables.$font-size-h6;
    }

    @media (max-width: $mobile-breakpoint) {
        font-size: variables.$font-size-default;
    }
}
