@use "../styles/variables.scss";

// Get rid of these if never used

%h1 {
    font-size: variables.$font-size-h1;
}

%h2 {
    font-size: variables.$font-size-h2;
}

%h3 {
    font-size: variables.$font-size-h3;
}

%h4 {
    font-size: variables.$font-size-h4;
}

%h5 {
    font-size: variables.$font-size-h5;
}

%h6 {
    font-size: variables.$font-size-h6;
}
