@use "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

%body {
    font-family: "Poppins", sans-serif;
    font-size: variables.$font-size-default;

    @media (max-width: variables.$breakpoint-small) {
        font-size: variables.$font-size-default-small;
    }
}

%h1 {
    font-size: variables.$font-size-h1;

    @media (max-width: variables.$breakpoint-small) {
        font-size: variables.$font-size-h1-small;
    }
}

%h2 {
    font-size: variables.$font-size-h2;

    @media (max-width: variables.$breakpoint-small) {
        font-size: variables.$font-size-h2-small;
    }
}

%h3 {
    font-size: variables.$font-size-h3;

    @media (max-width: variables.$breakpoint-small) {
        font-size: variables.$font-size-h3-small;
    }
}

%h4 {
    font-size: variables.$font-size-h4;

    @media (max-width: variables.$breakpoint-small) {
        font-size: variables.$font-size-h4-small;
    }
}

%h5 {
    font-size: variables.$font-size-h5;

    @media (max-width: variables.$breakpoint-small) {
        font-size: variables.$font-size-h5-small;
    }
}
