$color-black: #0b0b0b;
$color-white: #ededed;
$color-background-primary: $color-black;
$color-background-secondary: #212121;

$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;
$font-size-default: 1rem;
