@use "./styles/reset.scss";
@use "./styles/variables.scss";
@use "./styles/typography.scss";

body {
    height: 100vh;
    width: 100vw;
    background-color: variables.$color-background;
    background-image: url("assets/images/brick-texture.png");
    background-size: 20rem;
    color: variables.$color-text;
}

a,
button {
    cursor: pointer;
}

