@use "./styles/_reset.scss";
@use "./styles/_variables.scss";
@use "./styles/_typography.scss";

html {
    height: 100%;
    width: 100%;
}

body {
    @extend %body;
    height: 100%;
    width: 100%;
    background-color: variables.$color-background;
    background-image: url("assets/images/brick-texture.png");
    background-size: 20rem;
    color: variables.$color-text;
}

h1 {
    @extend %h1;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

h6 {
    @extend %h6;
}

a,
button {
    cursor: pointer;
}
